<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Diaris!</title>
</head>
<body>
    <p>Mira les noticies de La Vanguardia:</p>
    <ul>
        <li><a href="/lavanguardia/deportes">Deportes</a></li>
        <li><a href="/lavanguardia/politica">Política</a></li>
        <li><a href="/lavanguardia/vida">Vida</a></li>
        <li><a href="/lavanguardia/opinion">Opinió</a></li>
        <li><a href="/lavanguardia/internacional">Internacional</a></li>  <!--Esta zona es la que marca el usuario, que manda al app.py y que llamaremos (seccion), que es el parámetro junto a "lavanguardia"-->
    </ul>
    <img src="/static/img/diaris.jpg" alt="Diaris" />
</body>
</html>